<form [formGroup]="form" class="form">
  <h1>Login</h1>
  <mat-form-field appearance="fill" class="form-element">
    <mat-label>Email</mat-label>
    <input type="email" matInput name="email" formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-element">
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" formControlName="password">
  </mat-form-field>
  <div class="form-buttons">
    <button mat-raised-button class="button" color="accent" (click)="login()">Login</button>
  </div>
</form>
