<form [formGroup]="signupForm" class="form">
  <h1>Signup</h1>
  <mat-form-field appearance="fill" class="form-element">
    <mat-label>Email</mat-label>
    <input type="email" matInput name="email" formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-element">
    <mat-label>First Name</mat-label>
    <input matInput type="text" name="firstName" id="firstName" formControlName="firstName">
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-element">
    <mat-label>Last Name</mat-label>
    <input matInput type="text" name="lastName" formControlName="lastName">
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-element">
    <mat-label>Password</mat-label>
    <input type="password" matInput name="password" formControlName="password">
  </mat-form-field>
  <div class="form-buttons">
    <button mat-raised-button class="button" color="primary" (click)="signup()">Signup</button>
  </div>
</form>

